.account-header {
    background-color: #89cf6d;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }

  .account-link {
    color: #276374;
  }

  ul.account {
    padding-left: 0px;
  }
  
  ul.account > li {
    display: inline-block;
    padding: 5px 5px;
  
  }
  