.div1 {
    width:50%;
    float:left;
}

.div2 {
    width:50%;
    float:right;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}